div.lm-navbar-logo {
  cursor: pointer;

  img.lm-navbar-logo {
    height: 56px;
    filter: invert(1) saturate(2) contrast(0.8) brightness(1.3);
  }
}

button.lm-menu-item-button {
  background-color: #00000000;
  &:focus {
    outline: none;
  }
}
