<div class="container-fluid p-0
            lm-app-container">
  <div class="lm-navbar-holder">
    <app-lm-navbar-container></app-lm-navbar-container>
  </div>
  <div class="lm-content-holder">
    <router-outlet></router-outlet>
  </div>
  <div class="lm-footer-holder">
    <app-lm-footer-container></app-lm-footer-container>
  </div>
  <!-- <mat-sidenav-container (backdropClick)="closeSidenav($event)">
    <mat-sidenav opened
                 #lmSidenav>
      <div class="lm-navbar-holder">
        <app-lm-navbar-container [sideNav]="lmSidenav"></app-lm-navbar-container>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="lm-navbar-holder">
        <app-lm-navbar-container [sideNav]="lmSidenav"></app-lm-navbar-container>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>
