<div class="container-fluid d-flex flex-column 
            mat-app-background app-dark
            lm-footer-container"
     *ngIf="!!assetsDict[assetsEntityID]; else noFooterData">

  <div class="d-flex justify-content-between flex-wrap">
    <div class="my-2 
                lm-footer-navigation-holder">
      <ng-container *ngFor="let _ of assetsDict[assetsEntityID].assets.navigations">
        <a mat-button
           (click)="navigate(_.route)">{{ _.label }}</a>
      </ng-container>
    </div>
    <div class="my-2 
                lm-footer-terms-holder">
      <ng-container *ngFor="let _ of assetsDict[assetsEntityID].assets.terms">
        <a mat-button
           (click)="navigate(_.route)">{{ _.label }}</a>
      </ng-container>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <div class="my-2 text-center 
                lm-footer-copyright">
      <button mat-button
              disabled="true"
              *ngIf="!!assetsDict[assetsEntityID].assets.copyright.to; else simpleCopyright">&copy;
        {{ assetsDict[assetsEntityID].assets.copyright.from }} -
        {{ assetsDict[assetsEntityID].assets.copyright.to }}. &nbsp;
        {{ assetsDict[assetsEntityID].assets.copyright.statement }}</button>
      <ng-template #simpleCopyright>
        <button mat-button
                disabled="true">&copy;
          {{ assetsDict[assetsEntityID].assets.copyright.from }}. &nbsp;
          {{ assetsDict[assetsEntityID].assets.copyright.statement }}</button>
      </ng-template>
    </div>
    <div class="my-2
                lm-footer-socials-holder">
      <ng-container *ngFor="let _ of assetsDict[assetsEntityID].assets.socials">
        <button mat-icon-button
                class="m-1">
          <mat-icon>{{ _.icon }}</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>

</div>

<ng-template #noFooterData>
  <div class="lm-footer-container">
    <p>footer does not work, check console</p>
  </div>
</ng-template>
