<div class="container
            lm-solution-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-9 col-sm-12">
      <div class="d-flex justify-content-center align-items-center m-2
                  lm-solution-heading">
        <span class="h3">{{ assets.title }}</span>
      </div>
      <div class="mx-auto my-2
                  lm-separator lm-separator-small"></div>
      <div class="lm-solution-holder">
        <ng-container *ngFor="let _ of assets._">
          <div class="d-flex justify-content-center align-items-center 
                      lm-summary-list-holder">
            <mat-list class="lm-mat-list">
              <mat-list-item class="lm-mat-list-item"
                             *ngFor="let __ of _.summary">
                <mat-icon mat-list-icon>double_arrow</mat-icon>
                <span>{{ __ }}</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="d-flex justify-content-center flex-wrap
                      lm-button-holder">
            <ng-container *ngFor="let __ of _.buttons">
              <button mat-flat-button
                      color="primary"
                      class="m-2">
                <span>{{ __.text | uppercase }}</span>
                <mat-icon>arrow_right</mat-icon>
              </button>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>
