<div class="container-fluid p-0 
            lm-home-container">

  <!-- carousel-->
  <app-lm-home-carousel [assets]="assetsDict[assetsEntityID].assets.carousel">
  </app-lm-home-carousel>

  <!-- offerings -->
  <app-lm-home-offerings [assets]="assetsDict[assetsEntityID].assets.offerings">
  </app-lm-home-offerings>

  <!-- about -->
  <app-lm-home-about [assets]="assetsDict[assetsEntityID].assets.about"></app-lm-home-about>

  <!-- solution -->
  <app-lm-home-solutions [assets]="assetsDict[assetsEntityID].assets.solution">
  </app-lm-home-solutions>

  <!-- customers -->
  <app-lm-home-customers [assets]="assetsDict[assetsEntityID].assets.customers">
  </app-lm-home-customers>

  <!-- cookie bar -->
  <app-lm-home-cookiebar *ngIf="!cookiebarDict[cookiebarEntityID].cookiebar.state.bIsDismissed"
                         [cookiebar]="cookiebarDict[cookiebarEntityID].cookiebar"
                         (triggerDismissCookiebar$)="triggerDismissCookiebar()">
  </app-lm-home-cookiebar>

</div>
