<div class="container 
            lm-offerings-container">
  <div class="d-flex justify-content-center align-items-center m-4 
              lm-offering-heading">
    <span class="h3">{{ assets.title }}</span>
  </div>
  <div class="mx-auto my-2 
              lm-separator lm-separator-small"></div>
  <ng-container *ngFor="let _ of assets._">
    <div class="lm-offering">
      <div class="lm-offering-left">
        <div class="my-4
                    lm-offering-title">
          <span class="h4">{{ _.title }}</span>
        </div>
        <div class="my-2 
                    lm-offering-list">
          <mat-list class="lm-mat-list">
            <mat-list-item class="lm-mat-list-item"
                           *ngFor="let __ of _.summary">
              <mat-icon mat-list-icon>double_arrow</mat-icon>
              <span>{{ __ }}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="lm-offering-right">
        <div class="my-4 d-flex justify-content-center align-items-center 
                    lm-offering-video">
          <video [src]="_.video.link"
                 *ngIf="!!_.video.link"></video>
          <div class="d-flex justify-content-center align-items-center 
                      lm-video-placeholder"
               *ngIf="!_.video.link">
            <button mat-stroked-button
                    disabled="true">Video Not Available</button>
          </div>
        </div>
        <div class="d-flex justify-content-center
                    lm-offering-action">
          <ng-container *ngFor="let __ of _.buttons">
            <button mat-stroked-button
                    class="m-2">{{ __.text }}</button>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
